doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Soft skills trainer
        style
            .container { padding: 0 100px }

        body.container
            h3 Email confirmation
            p Please follow the link to finish registration
            p
                a(href=href) Confirm registration
